* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -webkit-pictograph;
}

input:focus {
  outline: none;
}

.button {
  background-color: #173083;
  color:white;
  font-size: 14px;
  width: 150px;
  border-radius: 10px;
  border: 0;
  grid-area: area;
  height: 40px;
  margin-top: 7px;
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
  pointer-events: auto;
}

.buttonOrder {
  background-color:#173083;
  color: white;
  font-size: 17px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  padding: 12px;
  grid-area: button;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:hover {
  cursor: pointer;
}

.active, .button:hover {
  cursor: pointer;
  background-color: rgb(233, 230, 230);
  color:#073a52;
}

.active, .buttonOrder:hover {
  cursor: pointer;
  background-color: #cf0b0b;
  color:white;
}

.header {
  background-color: #173083;
  padding: 0.5%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "logo changeview signout";
  /* grid-template-columns: 1fr 8fr 2fr 0.5fr 1fr;
  grid-template-areas: "logo changeview currentuser currentUserPhoto signout"; */
}

.Menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 0fr 3fr 2fr 0fr;
  grid-template-areas: ". products order . ";
  background-color: rgb(243, 243, 245);
}

.productsList {
  grid-area: products;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 1.5%;
  margin-left: 2%;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: #eaebec;
  height: 650px;
  padding: 1em;
  overflow-y: scroll;
  align-content: start;  
}
.unorderList {
  font-size: 12px;
  cursor: pointer;
  margin: 10px;
  max-width: max-content;
  max-height: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: grid;
  grid-template-areas: "photo photo"
                       "description price";
}

.orderList {
  grid-area: order;
  padding-top: 10px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 2%;
  border-radius: 15px;
  background-color: white;
  height: 650px;
  overflow-y: scroll;
}

.photoProduct {
  grid-area: photo;
  display: block;
  margin: auto;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10%;
  width: 150px;
  height: 100px;
}

.price {
  grid-area: price;
  color: #e3eff5;
  left: -5px;
  top: 5px;
  position: relative;
  background-color: #173083;
  height: 25px;
  padding-top: 4px;
  padding-right: 1px;
  padding-left: 3px;
  border-radius: 5px;
  text-align: center;
  width: 50px;
}

.description {
  grid-area: description;
  width: 106px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 30px;
  align-content: center;
  color: #173083;
  font-weight: 600;
}
.active, .unorderList:hover {
  cursor: pointer;
  color:rgb(165, 24, 24);
}

.orderedList {
  justify-content: left;
  display: grid;
  grid-template-columns: 0.5fr 6fr 0.5fr 2fr 1fr 0.5fr;
  grid-template-areas: ". orderproduct . priceproduct trash .";
}

.orderProduct {
  grid-area: orderproduct;
  margin-top: 10px;
  margin-bottom: 10px;
}

.priceProduct {
  grid-area: priceproduct;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.totalPrice {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 0.5fr 5fr 3fr 0.5fr;
  grid-template-areas:
      ". total amount ."
      ". button button.";
}

.material-icons.blue600 { 
  grid-area: trash;
  color: #175977;
  margin-left: auto;
  margin-bottom: 11px;
  margin-top: 9px;
}

.total {
  grid-area: total;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.amount {
  grid-area: amount;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.orderKitchen {
  display: grid;
  padding: 12px;
  font-size: 12px;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color:white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-areas:
      "ordertime"
      "orderwaiter"
      "listkitchen"
      "statebutton";
}

.kitchen {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin: 1.5%;
  margin-top: 1.5%;
  border-radius: 15px;
  background-color: white;
  overflow-y: scroll;
  color:#173083;
  font-weight: 600;
  height: 690px;
  justify-content: flex-start;
  border-style: groove;
  align-content: start;  
}

.orderButton {
  grid-area:orderbutton;
  background-color:#173083;
  padding: 5px;
  color: white;
  font-size: 14px;
  width: 150px;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.orderTime {
  grid-area: ordertime;
  color: #173083;
}

.orderWaiter {
  grid-area: orderwaiter;
  color:#173083;
}

.listKitchen {
  grid-area: listkitchen;
  overflow-y: scroll;
  text-align: left;
  margin-left: 5px;
}

.stateButton{
  grid-area: statebutton;
  background-color:#173083;
  color: white;
  font-size: 14px;
  width: -webkit-fill-available;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}

.stateButton:hover {
  cursor: pointer;
  background-color: #cf0b0b;
  color:white;
}

.table {
  padding: 7px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  background-color: #f6f8fb;
  text-align: center;
}

.customselect {
  display: inline-block;
  -webkit-appearance: menulist;
  appearance: menulist;
  border-radius: 1px;
  border-style: none;
  background-color: #f6f8fb;
  margin-right: 11px;
  margin-left: 3%;
  font-size: 14px;
  border: 0;
  outline: 0;
  font-family: -webkit-pictograph;
  font-size: 15px;
  color:#173083;
}

.icon {
  color: #173083;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: 17%;
  cursor: pointer;
}

.active, .icon:hover {
  color: #D91424;
}

.imglogo {
  height: 65px;
  width: 65px;
  grid-area: logo;
  margin-left: 30%;
}

.imglogoForm {
  height: 65px;
  width: 65px;
  grid-area: logo;
  margin: 1%;
}

.currentUserPhoto {
  grid-area: currentUserPhoto;
  height: 45px;
  width: 45px;
  margin-top: 25%;
  border-radius: 50%;
}

.currentuser {
  grid-area: currentuser;
  color: white;
  margin-bottom: auto;
  margin-top: 15%;
  margin-right: 11%;
  text-align: right;
}

.signOutIcon {
  grid-area: signout;
  color: white;
  cursor: pointer;
  margin:auto;
}

.subheader {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:
      "filters notifications";
}

.filters {
  grid-area: filters;
}

.notifications {
  grid-area: notifications;
  margin-left: 50%;
  color:#173083;
}
.active, .notifications:hover {
  color: rgb(165, 24, 24);
}

.changeview {
  grid-area: changeview;
  font-size: large;
  color: white;
  margin-left: 87%;
  margin-top: 2.3%;
}

.active, .changeview:hover {
  color: #ffd479;
}

.quantity {
  grid-area: quantity;
  display: inline-block;
  background-color: red;
  color: white;
  padding-top: 2px;
  border-radius: 50%;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  margin-top: 6px;
  position: relative;
  top: -23px;
  left: -16px;
}

/* autentication */

.signUpForm {
  text-align: center;
  margin-top: 3%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DDDDDD;
  font-size: 0.9em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
  width: min-content;
}

.inputButton {
  margin: 10px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  font-size: 13px;
  width: 280px;
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-family: 'Nunito Sans', sans-serif;
}

.signUpButton {
  background-color: #173083;
  padding: 10px;
  color: white;
  font-size: 15px;
  width: 280px;
  border-radius: 10px;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.signUpButton:hover {
  background-color:#314aa5;
}

.motto {
  margin-bottom: 6%;
  margin-top: 6%;
  font-size: 16px;
  color: #8b8a8a;
  display: inline-block;
}

.login {
  color:  #173083;
  padding-left: 15px;
  font-weight: bold;
  text-decoration: none;
}

.inputTables {
  margin: 10px;
}

.navbar {
  padding: 0.5%;
  background-color: #173083;
  color: white;
  display: grid;
  grid-template-columns: 0fr 3fr 14fr 2fr 0fr 2fr 1fr;
  grid-template-areas: 
      ". logo . signup . signin .";
}

.home {
  grid-area: home;
}

.signup {
  grid-area: signup;
}

.signin {
  grid-area: signin;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  margin-top: 14%;
  text-align: center;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:  #ffd479;
  background-color: transparent;
  text-decoration: underline;
}

.atention {
  display: inline-flex;
  margin-left: 4%;
  color: #173083;
  padding: 2%;
}

.atentionName {
  padding: 2%;
  display: inline-grid;
  color: #173083;
  font-weight: 600;
}

.homeSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "desayuno almuerzoYcena" 
    "fruits hamb";
  margin: 7%;
}

.desayuno {
  grid-area: desayuno;
  text-align: center;
  font-size: 1.5em;
  color: #173083;
}

.almuerzoYcena {
  grid-area: almuerzoYcena;
  text-align: center;
  font-size: 1.5em;
  color: #173083;
}

.imgHamb {
  grid-area: hamb;
  max-width: 76%;
  height: auto;
  margin: 12%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.imgFruits {
  grid-area: fruits;
  max-width: 76%;
  height: auto;
  margin: 12%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}